<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cats.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A92DEF7B2C31BD8C00ABFCF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A92DEF912C31BD8E00ABFCF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A92DEF9B2C31BD8E00ABFCF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
